*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
}
.container{
    min-width: 400px;
    box-shadow: 1px 10px 10px #ccc;
    padding:  15px;
    border-radius: 25px;
    /* border-radius: 50px; */
}
.menu{
    display: flex;
}
.menu-item{
    flex-basis: 50%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    transform: all 0.1s ease-out;
}
.menu-item:hover{
    color: white;
    border: 1px solid transparent;
    background-color: rgb(210, 8, 8);

}
.menu-item:nth-child(2){
    margin-left: 10px;
}
.form{
    /* padding-top: 10px; */
     margin-top: 25px;
     margin-left: 50px;
    /* border-top: 1px solid rgb(233, 223, 223); */
}
.input-grp{
    margin-bottom: 15px;

}
.input-grp label{
    display: block;
    margin-bottom: 8px;
}
.input-grp input{
    min-height: 30px;
    padding: 5px;
    border: 1px solid rgb(225, 225, 225);
}
.input-grp input::placeholder{
    color: rgb(153, 153, 153);
    

}

.required{
    color: rgb(226, 10, 10);
}

.btn{
    padding: 10px 25px;
    border: 0;
    font-size: 15px;
    color: white;
    background-color: red;
    border-radius: 25px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(213, 18, 18);

}
.btn-wraper{
    text-align: center;
    margin-top: 25px;
}

.active{
    color: white;
    border: 1px solid transparent;
    background-color: rgb(210, 8, 8);
}
.result{
    margin-top: 25px;
    border: 1px solid rgb(225, 225, 225);
    padding: 15px;
    border-radius: 25px;
    text-align: center;

}
